@import 'variables';

@import 'functions';
@import 'mixins';
@import 'util';

@import 'elements';
@import 'components';

*:focus {
  outline: none;
}

html {
  background: $bg-color;
  color: $font-color;

  &.dark {
    background: $dark-bg-color;
    color: $dark-font-color;
  }
}

body {
  margin: 1rem;
  line-height: 1.35;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:focus {
    border-bottom: 1px solid $border-color;
  }
}

.dark a:focus {
  border-bottom: 1px solid $dark-border-color;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background: $bg-color;
}

.dark header {
  background: $dark-bg-color;
}

main {
  margin-top: 4rem;
  @media only screen and (min-width: 1000px) {
    margin-top: 7rem;
  }
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  display: none;

  @media only screen and (min-width: 1000px) {
    display: block;
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

h4 {
  font-size: 1.15rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid $border-color;
}

.dark h4 {
  border-bottom: 1px solid $dark-border-color;
}

nav {
  a {
    padding: 0.5rem;
    display: inline-block;
    color: $font-color;

    &.active {
      border-bottom: 1px solid $border-color;
    }

    &:focus {
      border-bottom: 3px solid $border-color;
    }
  }
}

.dark nav a {
  color: $dark-font-color;
  &.active {
    border-bottom: 1px solid $dark-border-color;
  }

  &:focus {
    border-bottom: 3px solid $dark-border-color;
  }
}

[role="button"] {
  cursor: pointer;
}

.icon {
  display: block;
  stroke: $font-color;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-linejoin: miter;
  fill: none;
}

// Pages
section {
  margin-bottom: 2rem;
}

main.settings {

  .flex-column {
    @include medium-screen {
      max-width: 50%;
    }
    @include large-screen {
      max-width: 33%;
    }
    @include x-large-screen {
      max-width: 25%;
    }
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    &:last-of-type {
      border: none !important;
    }
    @include medium-screen {
      border: none !important;
    }
  }

  .visualization-scheme-preview {
    display: inline-block;
    max-width: 90%;
    svg {
      width: 100%;
    }
  }
}

.dark main.settings label {
  border-bottom: 1px solid $dark-border-color;
}
