.goal-calendar {
  .day {
    stroke: #ccc;
  }

  .month {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
  }

  svg {
    margin: 0 auto;
    display: block;
    height: auto;
    &.vertical {
      @include medium-screen {
        width: 50%;
      }
      @include large-screen {
        width: 40%;
      }
      @include x-large-screen {
        width: 33%;
      }
    }
  }
}
