.goal-updater {
  width: 100%;
  text-align: center;

  [role="button"] {
    text-decoration: underline;
  }

  input[type="date"] {
    display: block;
    margin: 0 auto 1rem;
    @include medium-screen {
      display: inline-block;
    }
  }

  input[type="number"] {
    width: 5rem;
    text-align: center;
  }

  footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
