.goal-updater {
  span[role="button"] {
    text-decoration: underline;
  }
  input[type="date"] {
    display: block;
  }

  &.inline {
    display: inline-block;
  }
  label {
    display: inline;
    padding: 0;
  }
}
