button,
.button,
input[type="submit"] {
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  vertical-align: middle;

  color: $font-color;
  border: none;
  font-size: 1rem;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  background: $border-color;

  &:hover,
  &:active {
    background: shade($border-color, 25%);
  }

  &:focus {
    outline: 2px solid $font-color;
  }

  &.wide {
    padding: 0.5rem 1rem;
  }

  &.warning {
    background: $warning-color !important;

    &:hover,
    &:active {
      background: shade($warning-color, 25%) !important;
    }
  }

  &.primary {
    background: $primary-color !important;

    &:hover,
    &:active {
      background: shade($primary-color, 25%) !important;
    }
  }
}

.dark {
  button,
  .button,
  input[type="submit"] {
    background: $dark-border-color;
    color: $font-color;
    &:hover,
    &:active {
      background: tint($dark-border-color, 25%);
    }
  }
}
