$bg-color: #eef0f2;
$font-color: #141414;

$dark-bg-color: #313131;
$dark-font-color: #a3a3a3;

$primary-color: #00afff;
$success-color: #91ea86;
$warning-color: #f05e52;
$card-color: rgba(20, 20, 20, 0.05);
$dark-card-color: rgba(255, 255, 255, 0.05);

$border-color: rgba(20, 20, 20, 0.2);
$dark-border-color: rgba(241, 241, 241, 0.4);
