<p>
  Track Your Goals is a simple progressive web app you can install on your mobile device. It stores all data to localStorage and has full export/import capabilities.
</p>

<p>
  See the {{#link-to "goals.goal" "demo"}}Demo{{/link-to}} goal for an example of whats possible!
</p>

<p>
  This is a free and open source app available on <a href="https://github.com/Frozenfire92/TrackYourGoals" target="_blank">GitHub</a>.
</p>

<small>version {{this.model.version}}</small>
