<header>
  <h1>Track your goals!</h1>
  <nav>
    {{#link-to "goals"}}Goals{{/link-to}}
    {{#link-to "settings"}}Settings{{/link-to}}
    {{#link-to "data"}}Data{{/link-to}}
    {{#link-to "about"}}About{{/link-to}}
  </nav>
</header>
<main class={{this.pathClass}}>
  {{outlet}}
  <Modal @type={{this.type}} />
</main>