<header>
  <h1>
    Track your goals!
  </h1>
  <nav>
    {{#link-to "goals"}}Goals{{/link-to}}
    {{#link-to "settings"}}Settings{{/link-to}}
  </nav>
</header>
<main>
  {{outlet}}
  <Modal @type={{this.type}} />
</main>