<h3>Import Data</h3>
<p class="warning">This will erase any local data</p>
<button>I Understand</button>
<FileUpload
  accept=".json"
  @change={{this.importData}}
/>

<hr>

<h3>Export Data</h3>
<button {{action this.exportData}}>Download</button>

<hr>

<h3>Reset Data</h3>
<button class="warning" {{action this.resetData}}>Delete</button>