<h3>Configure</h3>
<label>
  Theme
  <select name="" id="">
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
</label>

<hr>

<h3>Import Data</h3>
<p class="warning">This will erase any local data</p>
<button>I Understand</button>
<FileUpload
  @change={{this.importData}}
  accept=".json"
/>

<hr>

<h3>Export Data</h3>
<button {{action this.exportData}}>Download</button>

<hr>

<h3>Reset Data</h3>
<button class="warning" {{action this.resetData}}>Delete</button>